#wrapper{
    margin-left: auto;
    margin-right: auto;
}

.totalWidth{
    width: 960px;
}

#top{
    line-height: 135px;
    height: 135px;
}


/*Menu Stuff*/
#menu{
    text-align: right;
}

.displayInline{
    display: inline;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}


/*BannerStuff*/
#banner{
    background-image: url("../images/car.jpg");
    background-size: contain;
    height: 555px;
}


#bannerBlack{
    width:480px;
    background-color: rgb(0,0,0);opacity: 0.8;
}

#advText{
    color: ghostwhite;
    left:30px;
    top: 130px;
}

#learnText{
    color: blue;
    left: 310px;
    top: 150px;
}


.helvetica{
    font-family: Helvetica-Normal;
}

.posRel{
    position: relative;
}

.bannerHeight{
    height: 555px;
}
.clearMargin{
    margin: 0px;
}

.bigSqr{
    width: 545px;
}

.bigSqrPadding{
    padding-left:24px;
    padding-right: 24px;
}

.smallSqr{
    width: 328px;
}

.smallSqrPadding{
    padding-right: 19px;
    padding-left: 19px;
}

.floatLeft{
    float:left;
}

.clearFloat{
    clear:both;
}


