#top{
    line-height: 135px;
}

#menu{
    text-align: right;
}


#banner{
    background-image: url("../images/car.jpg");
    background-size: contain;
}

#bannerBlack{
    width:480px;
    background-color: rgb(0,0,0);opacity: 0.8;
}

#advText{
    color: ghostwhite;
    left:30px;
    top: 130px;
}

#learnText{
    color: blue;
    left: 310px;
    top: 150px;
}


#contentText{
    line-height: 18px;
}

#sideText {
    line-height: 13px;
}


#contentPad{
    padding-left: 30px;
    padding-right: 30px;
}

#table{
    left:210px;
}


#separator{
    height: 200px;
}



#imgPad{
    height: 286px;
    padding-top: 17px;
    padding-left: 14px;
    border: solid black;
}


/*Classes*/


.borderBlack{
    border: solid black;
}

.centralize{
    margin-right: auto;
    margin-left: auto;
}

.helvetica{
    font-family: AG_Helvetica, SansSerif;
}

.fontSize{
    font-size: 13px;
}

.top135Height{
    height: 135px;
}

.posRel{
    position: relative;
}

.footer{
    text-align: center;
    color: white;
    background-color: black;
    height: 75px;
}

.copyright{
    top: 30px;
}

.bannerHeight{
    height: 554px;
}
.clearMargin{
    margin: 0px;
}

.bigSqr{
    width: 583px;
}

.bigSqrPadding{
    padding-left:24px;
    padding-right: 24px;
}

.smallSqr{
    width: 328px;
}


.floatLeft{
    float:left;
}

.clearFloat{
    clear:both;
}

.totalWidth{
    width: 960px;
}

.displayInline{
    display: inline;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}